<robot name="BERNARD" version="1.0">
  <joint name="l_hip1_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-0.52360" upper="0.52360" effort="9.00000" velocity="9.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.04683 0.04994 -0.02923"/>
    <parent link="body"/>
    <child link="l_hip"/>
    <axis xyz="1.00000 0.00000 0.00000"/>
  </joint>
  <joint name="l_hip2_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-0.87266" upper="1.57080" effort="9.00000" velocity="9.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.04685 0.05205 -0.00010"/>
    <parent link="l_hip"/>
    <child link="l_thigh"/>
    <axis xyz="0.00000 1.00000 0.00000"/>
  </joint>
  <joint name="l_knee_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-1.74533" upper="1.74533" effort="9.00000" velocity="9.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.01548 -0.00042 -0.11919"/>
    <parent link="l_thigh"/>
    <child link="l_forearm"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
  </joint>
  <joint name="l_foot_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-1.22173" upper="1.39626" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.02000 -0.01749 -0.19000"/>
    <parent link="l_forearm"/>
    <child link="l_foot"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
  </joint>
  <joint name="r_hip1_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-0.52360" upper="0.52360" effort="9.00000" velocity="9.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.04683 -0.04994 -0.02923"/>
    <parent link="body"/>
    <child link="r_hip"/>
    <axis xyz="1.00000 0.00000 0.00000"/>
  </joint>
  <joint name="r_hip2_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-1.57080" upper="0.87266" effort="9.00000" velocity="9.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.04685 -0.05206 -0.00010"/>
    <parent link="r_hip"/>
    <child link="r_thigh"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
  </joint>
  <joint name="r_knee_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-1.74533" upper="1.74533" effort="9.00000" velocity="9.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.01548 0.00042 -0.11919"/>
    <parent link="r_thigh"/>
    <child link="r_forearm"/>
    <axis xyz="0.00000 1.00000 0.00000"/>
  </joint>
  <joint name="r_foot_joint" type="revolute">
    <dynamics damping="0.01000"/>
    <limit lower="-1.22173" upper="1.39626" effort="0.00000" velocity="0.00000"/>
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.02000 0.01749 -0.19000"/>
    <parent link="r_forearm"/>
    <child link="r_foot"/>
    <axis xyz="0.00000 -1.00000 0.00000"/>
  </joint>
  <link name="body">
    <collision name="Body_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01001 -0.00007 -0.03241"/>
      <geometry>
        <box size="0.20035 0.12771 0.13761"/>
      </geometry>
    </collision>
    <sensor name="imu_sensor" type="imu">
      <parent link="body"/>
    </sensor>
    <inertial>
      <inertia ixx="0.00000" ixy="0.00000" ixz="0.00000" iyy="0.00000" iyz="-0.00000" izz="0.00000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00803 0.00179 -0.03911"/>
      <mass value="2.10000"/>
    </inertial>
    <visual name="Body">
      <material name="ABS_(czarny)"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/Body.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="l_hip">
    <inertial>
      <inertia ixx="0.00005" ixy="0.00006" ixz="0.00000" iyy="0.00047" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06739 0.01698 -0.00000"/>
      <mass value="0.08000"/>
    </inertial>
    <visual name="L_Hip_Connector">
      <material name="Deep_Black_PETG.001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/Hip_Connector.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="l_thigh">
    <collision name="L_Arm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00538 0.01969 -0.05894"/>
      <geometry>
        <box size="0.10532 0.04085 0.20466"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00633" ixy="-0.00010" ixz="0.00071" iyy="0.00652" iyz="0.00082" izz="0.00082"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00694 0.01632 -0.06028"/>
      <mass value="0.85000"/>
    </inertial>
    <visual name="L_Arm">
      <material name="Opaque(160,160,160).001"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/L_Arm.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="l_forearm">
    <collision name="L_Forearm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00403 -0.01756 -0.07784"/>
      <geometry>
        <box size="0.06073 0.02168 0.17892"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00203" ixy="0.00002" ixz="0.00017" iyy="0.00203" iyz="-0.00022" izz="0.00007"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00793 -0.01689 -0.10686"/>
      <mass value="0.12000"/>
    </inertial>
    <visual name="L_Forearm">
      <material name="Deep_Black_PETG.003"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/L_Forearm.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="l_foot">
    <collision name="L_Foot_collision">
      <origin rpy="-0.00000 1.57080 0.00000" xyz="0.02083 0.00000 -0.02538"/>
      <geometry>
        <cylinder radius="0.01457" length="0.11663"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00003" ixy="0.00001" ixz="0.00002" iyy="0.00009" iyz="-0.00001" izz="0.00009"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.01759 0.00004 -0.01887"/>
      <mass value="0.06000"/>
    </inertial>
    <visual name="L_Foot">
      <material name="PETG_Black"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/Foot.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="r_hip">
    <inertial>
      <inertia ixx="0.00005" ixy="-0.00006" ixz="0.00000" iyy="0.00047" iyz="0.00000" izz="0.00050"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06739 -0.01698 0.00000"/>
      <mass value="0.08000"/>
    </inertial>
    <visual name="R_Hip_Connector">
      <material name="Deep_Black_PETG.001"/>
      <origin rpy="-3.14159 0.00000 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/Hip_Connector.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="r_thigh">
    <collision name="R_Arm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00538 -0.01969 -0.05893"/>
      <geometry>
        <box size="0.10532 0.04085 0.20466"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00645" ixy="0.00010" ixz="0.00071" iyy="0.00665" iyz="-0.00082" izz="0.00083"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00694 -0.01632 -0.06028"/>
      <mass value="0.85000"/>
    </inertial>
    <visual name="R_Arm">
      <material name="Opaque(160,160,160).002"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/R_Arm.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="r_forearm">
    <collision name="R_Forearm_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00403 0.01756 -0.07784"/>
      <geometry>
        <box size="0.06073 0.02168 0.17892"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00203" ixy="-0.00002" ixz="0.00017" iyy="0.00203" iyz="0.00022" izz="0.00007"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00793 0.01689 -0.10686"/>
      <mass value="0.12000"/>
    </inertial>
    <visual name="R_Forearm">
      <material name="Deep_Black_PETG.005"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/R_Forearm.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="r_foot">
    <collision name="R_Foot_collision">
      <origin rpy="0.00000 1.57080 0.00000" xyz="0.02083 0.00000 -0.02538"/>
      <geometry>
        <cylinder radius="0.01457" length="0.11663"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.00003" ixy="-0.00001" ixz="0.00002" iyy="0.00009" iyz="0.00001" izz="0.00009"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.01759 0.00004 -0.01887"/>
      <mass value="0.06000"/>
    </inertial>
    <visual name="R_Foot">
      <material name="PETG_Black"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/obj/Foot.obj" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
  <material name="ABS_(czarny)">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
  <material name="Deep_Black_PETG.001">
    <color rgba="0.12941 0.12941 0.12941 1.00000"/>
  </material>
  <material name="Deep_Black_PETG.003">
    <color rgba="0.12941 0.12941 0.12941 1.00000"/>
  </material>
  <material name="Deep_Black_PETG.005">
    <color rgba="0.12941 0.12941 0.12941 1.00000"/>
  </material>
  <material name="Opaque(160,160,160).001">
    <color rgba="0.62745 0.62745 0.62745 1.00000"/>
  </material>
  <material name="Opaque(160,160,160).002">
    <color rgba="0.62745 0.62745 0.62745 1.00000"/>
  </material>
  <material name="PETG_Black">
    <color rgba="0.00000 0.00000 0.00000 1.00000"/>
  </material>
</robot>